<div class="loading" *ngIf="isLoading">
    <nz-spin nzSimple nzSize="large" nzTip="در حال بارگزاری"></nz-spin>
</div>

<div class="row mb-4">
    <div class="col-md-8 offset-2">
        <h4>اضافه کردن گزارش‌دهنده</h4>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-md-11">
            <form [formGroup]="knowledgeForm">
                <div class="row mb-4">
                    <div class="col-md-5 offset-1 mb-4">
                        <span class="bi bi-person-vcard"></span>
                        <label>گزارش دهنده</label>
                        <nz-select style="width: 100%;" formControlName="reporter" nzShowSearch>
                            <nz-option *ngFor="let reporter of reporters" [nzValue]="reporter.value"
                                [nzLabel]="reporter.label"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-md-5 offset-1 mb-4 datepicker-wrapper">
                        <span nz-icon nzType="calendar" nzTheme="outline"></span>
                        <label>تاریخ مصاحبه</label>
                        <br>
                        <ng-persian-datepicker class="my-datepicker" dateFormat="YYYY-MM-DD">
                            <input nz-input formControlName="interview_date" style="cursor: pointer;" />
                        </ng-persian-datepicker>
                    </div>
                    <div class="col-md-5 offset-1 mb-4">
                        <span nz-icon nzType="book" nzTheme="outline"></span>
                        <label>محور اصلی</label>
                        <nz-select style="width: 100%;" formControlName="title" nzShowSearch>
                            <nz-option *ngFor="let title of titleOptions" [nzValue]="title.value"
                                [nzLabel]="title.label"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-md-5 offset-1 mb-4">
                        <span nz-icon nzType="book" nzTheme="outline"></span>
                        <label>محور فرعی</label>
                        <nz-select style="width: 100%;" formControlName="subject" nzShowSearch
                            [nzDisabled]="!knowledgeForm.controls['title'].valid">
                            <nz-option *ngFor="let subject of subjectOptions" [nzValue]="subject.value"
                                [nzLabel]="subject.label"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-md-11 mb-4">
                        <span nz-icon nzType="file-text" nzTheme="outline"></span>
                        <label>متن برگرفته از مصاحبه</label>
                        <angular-editor [config]="editorConfig" formControlName="interview_text"></angular-editor>
                    </div>
                    <div class="col-md-5 offset-1 mb-4">
                        <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
                        <label>شروع مصاحبه</label>
                        <div>
                            <nz-time-picker formControlName="startTime" nzFormat="HH:mm:ss"
                                nzPlaceHolder=" "></nz-time-picker>
                        </div>
                        <!-- <input type="text" formControlName="start"> -->
                    </div>
                    <div class="col-md-5 offset-1 mb-4">
                        <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
                        <label>پایان مصاحبه</label>
                        <div>
                            <nz-time-picker formControlName="endTime" nzFormat="HH:mm:ss" nzPlaceHolder=" "></nz-time-picker>
                        </div>
                        <!-- <input type="text" formControlName="end"> -->
                    </div>
                    <!-- <hr>
                    <div class="col-md-5 offset-1 mb-4 p-2 border">
                        <span class="bi bi-card-image"></span>
                        <label>آپلود تصویر</label>
                        <br>
                        <nz-upload [nzBeforeUpload]="beforeUploadImage" [(nzFileList)]="imageFileList" nzFileType="image/png,image/jpeg,image/gif,image/bmp" nzAccept="image/png,image/jpeg,image/gif,image/bmp">
                            <button nz-button>
                                <span nz-icon nzType="upload"></span>
                                آپلود
                            </button>
                        </nz-upload>
                    </div>
                    <div class="col-md-5 offset-1 mb-4 p-2 border">
                        <span nz-icon nzType="video-camera" nzTheme="outline"></span>
                        <label class="mb-1">آپلود فیلم</label>
                        <br>
                        <nz-upload [nzBeforeUpload]="beforeUploadMovie" [nzFileList]="movieFileList" nzFileType="video/mp4,video/x-m4v,video/*" nzAccept="video/mp4,video/x-m4v,video/*">
                            <button nz-button>
                                <span nz-icon nzType="upload"></span>
                                آپلود
                            </button>
                        </nz-upload>
                    </div>
                    <div class="col-md-5 offset-1 mb-4 p-2 border">
                        <span nz-icon nzType="sound" nzTheme="outline"></span>
                        <label>آپلود صدا</label>
                        <br>
                        <nz-upload [nzBeforeUpload]="beforeUploadSound" [nzFileList]="soundFileList" nzAccept="audio/*">
                            <button nz-button>
                                <span nz-icon nzType="upload"></span>
                                آپلود
                            </button>
                        </nz-upload>
                    </div>
                    <div class="col-md-5 offset-1 mb-4 p-2 border">
                        <span nz-icon nzType="file-text" nzTheme="outline"></span>
                        <label>آپلود فایل پیوست</label>
                        <br>
                        <nz-upload [nzBeforeUpload]="beforeUploadDocument" [nzFileList]="documentFileList">
                            <button nz-button>
                                <span nz-icon nzType="upload"></span>
                                آپلود
                            </button>
                        </nz-upload>
                    </div> -->
                </div>
                <div class="col-12 d-flex justify-content-end mb-4" style="gap:10px;">
                    <!-- <button nz-button nzType="default" style="width: auto;">ذخیره به عنوان پیش‌نویس</button> -->
                    <button nz-button nzType="default" nzDanger style="width: auto;" (click)="onReset()">انصراف</button>
                    <button nz-button style="width:auto" (click)="onPrint()">پرینت</button>
                    <button nz-button nzType="primary" style="width: auto;" (click)="onSubmit()">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>