<div class="loading" *ngIf="isLoading">
    <nz-spin nzSimple nzSize="large" nzTip="در حال بارگزاری"></nz-spin>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets//images//bg-01.jpg);">
                <!-- <span class="login100-form-title-1">
                    
                </span> -->
            </div>

            <form class="login100-form validate-form" [formGroup]="form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">نام کاربری</span>
                    <input class="input100" type="text" formControlName="username" placeholder="نام ‌کاربری را وارد کنید">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">رمز ورود</span>
                    <input class="input100" type="password" formControlName="password" placeholder="رمز‌ ورود را وارد کنید">
                    <span class="focus-input100"></span>
                </div>

                <!-- <div class="flex-sb-m w-full p-b-30" style="margin: 20px 0 10px 0;">
                    <div>
                        <a href="#" class="txt1">
                            فراموشی رمز
                        </a>
                    </div>
                </div> -->

                <div class="container-login100-form-btn mt-3">
                    <button class="login100-form-btn" (click)="onSubmit()">
                        ورود
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>